.title {
  font-size: var(--medium-font-size);
  font-weight: var(--title-font-weight);
  color: var(--primary-color);
}
.container {
  padding-top: var(--big-padding);
  padding-bottom: var(--biggest-padding);
}
.text_secondary {
  font-size: var(--extra-font-size);
  color: var(--secondary-color);
  font-weight: var(--text-font-weight);
}

.card_first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  width: 350px !important;
  max-width: 350px !important;
  margin-right: 40px !important;
  padding-left: var(--big-padding);
  height: 512px;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.card {
  background: linear-gradient(130deg, #eee 25%, #fff 50%, #eee 75%);
  background-size: 200% 200%;
  -webkit-animation: Animation 3s ease infinite;
  -moz-animation: Animation 3s ease infinite;
  animation: Animation 3s ease infinite;
}

.card_nights {
  width: 512px !important;
  height: 512px !important;
  max-width: 512px;
  max-height: 512px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card_kindwords {
  width: 512px !important;
  height: 512px !important;
  max-width: 512px;
  max-height: 512px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card_liai {
  width: 555px !important;
  height: 784px !important;
  max-width: 555px;
  max-height: 5784px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width: 767px) {
  .card_first {
    width: 250px !important;
    height: 256px;
    max-width: 250px;
    max-height: 256px;
  }

  .card_nights {
    width: 256px !important;
    height: 256px !important;
    max-width: 256px;
    max-height: 256px;
  }

  .card_kindwords {
    width: 256px !important;
    height: 256px !important;
    max-width: 256px;
    max-height: 256px;
  }

  .card_liai {
    width: 277px !important;
    height: 392px !important;
    max-width: 277px;
    max-height: 392px;
  }
}

.container_arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.arrow {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
