.header {
  padding: var(--medium-padding) var(--big-padding);
  gap: var(--big-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.title,
.subTitle {
  font-size: var(--big-font-size);
  font-weight: var(--title-font-weight);
  color: var(--primary-color);
}

.menuContainer {
  display: flex;
  gap: var(--medium-padding);
  color: var(--secondary-color);
  flex-wrap: wrap;
}

.menuItem {
  font-size: var(--small-font-size);
  cursor: pointer;
  font-weight: var(--text-font-weight);
}

.menuItem:hover {
  text-decoration: underline;
}

.container {
  padding: var(--greater-padding) var(--big-padding);
  display: flex;
  flex-direction: column;
  gap: var(--small-padding);
}

.secondaryText {
  font-size: var(--small-font-size);
  color: var(--secondary-color);
  font-weight: var(--text-font-weight);
}

@media (max-width: 768px) {
  .footer {
    height: 12rem;
  }
}

@media (min-width: 769px) {
  .footer {
    height: 8rem;
  }
}
