.header {
  padding: var(--medium-padding) var(--big-padding);
  gap: var(--big-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 94px;
}

.logo {
  display: flex;
  align-items: center;
}

.title,
.subtitle {
  font-size: var(--big-font-size);
  font-weight: var(--title-font-weight);
  color: var(--primary-color);
}

.menu_container {
  display: flex;
  gap: var(--medium-padding);
  color: var(--secondary-color);
  flex-wrap: wrap;
}

.menu_item {
  font-size: var(--small-font-size);
  cursor: pointer;
  font-weight: var(--text-font-weight);
}

.menu_item:hover {
  text-decoration: underline;
}

.message {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--small-padding);
}

.container {
  padding: var(--greater-padding) var(--big-padding);
  display: flex;
  flex-direction: column;
  gap: var(--small-padding);
}

.container_message {
  padding: var(--greater-padding) var(--big-padding);
  display: flex;
  flex-direction: column;
  gap: var(--small-padding);
  align-items: center;
}

.text_secondary {
  font-size: var(--small-font-size);
  color: var(--secondary-color);
  font-weight: var(--text-font-weight);
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .footer {
    height: 12rem;
  }

  .menu_container {
    display: flex;
    gap: var(--small-padding);
    color: var(--secondary-color);
    flex-wrap: wrap;
  }

  .message {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .footer {
    height: 8rem;
  }
}
