.viewer_container {
  width: 100%;
  height: calc(100vh - 94px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.viewer_error {
  color: red;
  text-align: center;
}

.viewer_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.viewer_title_padded {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-bottom: var(--small-padding);
}
