:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #333;
  --secondary-color: #555;

  --title-font-weight: 600;
  --text-font-weight: 200;

  --biggest-padding: 6rem;
  --greater-padding: 4rem;
  --big-padding: 3rem;
  --medium-padding: 2rem;
  --small-padding: 1rem;

  --big-font-size: 24px;
  --medium-font-size: 20px;
  --small-font-size: 16px;
  --extra-font-size: 14px;
}

@keyframes flip-diagonal {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 0.7;
  }
  50% {
    transform: rotate3d(1, 1, 0, 180deg);
    opacity: 0.4;
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
    opacity: 0.7;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-nunito), Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-slide {
  width: fit-content !important;
  margin-right: 80px;
}

.container_error {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}
