.title {
  font-size: var(--big-font-size);
}
.container {
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
}
.secondaryText {
  font-size: var(--medium-font-size);
  color: var(--secondary-color);
}

.firstCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  width: 350px !important;
  margin-right: 40px !important;
  padding-left: var(--big-padding);
  height: 512px;
}

.cardNights {
  width: 512px !important;
  height: 512px !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cardKindWords {
  width: 512px !important;
  height: 512px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardLIAL {
  width: 555px !important;
  height: 784px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.arrowRightContainer {
  position: relative;
}

.arrowRight {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 50%;
  transform: translateY(450%);
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
